.new-tweet {
  margin: auto;
  background-color: #eee;
  padding: .7em;
  border-style: solid;
  align-content: right;
  border: 1px solid #bbb;
  border-radius: 5px;
}


.new-tweet > h2 {
  margin-top: 0;
  border-bottom: 1px solid #bbb;
 }

 .new-tweet textarea {
  margin-bottom: 5px;
  width: 100%;
  padding: .3em;
 }

 .counter {
  float: right;
  padding-right: .3em;
  font-style: italic;
 }

.counter.invalid {
   /*if there is both class (counter) and (invalid) then whatever is in the CSS will be applied to the element*/
   color: red;
}


/*----------------------------------------------------------*/

.tweet {
  margin-top: 10px;
  border: solid 1px black;
  border-radius: 6px;
}

.tweet header {
  display: flex;
  background-color: #eef;
  padding: 1em;
  line-height: .5;
  margin: 0;
}

.tweet header img {
  float: left;
  top: 0px;
  left: 2px;
  width: 50px;
  height: 50px;
}

.tweet .handle {
  background-color: #eee;
  margin-left: auto;
}

.body {
  padding: 40px 0;
  box-sizing: border-box;
}

.tweet footer {
 /* display: flex;*/
}

.tweet footer .time {
  border-top: 1px solid black;
}

.tweet footer .bottomImg {
  width: 10px;
  height: 10px;
  padding: .5px;
}

.tweet footer .firstImg {
  margin-left: auto;
}





/*-----------------------------------------------------------------*/





#tweets-container {
  margin-top: 10px;
  border: solid 1px black;
  border-radius: 6px;
}

#tweets-container header {
  display: flex;
  background-color: #eef;
  padding: 1em;
  line-height: .5;
  margin: 0;
}

#tweets-container header img {
  float: left;
  top: 0px;
  left: 2px;
  width: 50px;
  height: 50px;
}

#tweets-container .handle {
  background-color: #eee;
  margin-left: auto;
}

#tweets-container .body {
  padding: 40px 0;
  box-sizing: border-box;
}

/*#tweets-container footer {
  display: flex;
}*/

#tweets-container footer .time {
  display: flex;
  border-top: 1px solid black;
}

#tweets-container footer .icons {
  display: flex;
 /* padding: 1px;*/
  margin-left: auto;
}



